package components

import "fmt"
import "PartTrack/internal/db/models"

templ ComponentRow(data models.Component) {
    <tr class="table-row" hx-get={ fmt.Sprintf("/protected/components/%d", data.Id) }>
        <td>{data.Id}</td>
        <td>{data.Name}</td>
        <td>{data.Description}</td>
        <td>{data.Footprint}</td>
        <td>{data.Manufacturer}</td>
        <td>{data.Supplier}</td>
        <td>{data.Amount}</td>
    </tr>
}
