package components

templ DashboardMenu() {
    <div class="menu">
        <a href="/protected/dashboard">⌂</a>
        <a href="/protected/components">Components</a>
        // <a href="/protected/bom">BOM</a>
        // <a href="/protected/products">Products</a>
        // <a href="/protected/issues">Issues</a>
        <a hx-post="/auth/signout" hx-swap="none">Signout</a>
    </div>
}