package templates

templ AdminPage() {
    @BaseLayout("Admin") {
        <h1>Admin</h1>
    	<p><span hx-get="/who-am-i" hx-trigger="load" hx-swap="innerHTML"></span></p>
        <button hx-post="/signout" hx-swap="none" hx-trigger="click">Signout</button>
    }
}
