package templates

import "PartTrack/internal/db/models"

templ ComponentView(data models.Component) {
    @DashboardLayout("Components") {
        <br>
        <a href="javascript:history.back()">← back</a>
        <h1>{data.Name}</h1>
        <h2>{data.Id}</h2>
        <p>{data.Description}</p>
        <p>{data.Footprint}</p>
        <p>{data.Manufacturer}</p>
        <p>{data.Supplier}</p>
        <p>{data.Amount}</p>
    }
}
