package templates

templ ComponentsPage() {
    @DashboardLayout("Dashboard") {
        <h1>Components</h1>
        <input type="text" name="search" placeholder="Search"/>
        <hr>
        <p>components should load here</p>
    }
}