package templates

templ ComponentsPage() {
    @DashboardLayout("Components") {
        <h1>Components</h1>
        <input type="text" name="search" placeholder="Search"/>
        <hr>
        <div hx-get="components/page/0" hx-trigger="load" hx-swap="outerHTML"></div>
    }
}
