package templates

templ DashboardPage() {
    @BaseLayout("Dashboard") {
        <h1>Dashboard</h1>
    	<p>Welcome <span hx-get="/who-am-i" hx-trigger="load" hx-swap="innerHTML"></span>!</p>
        <button hx-post="/signout" hx-swap="none" hx-trigger="click">Signout</button>
    }
}
